/*Google Font*/
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Source+Serif+Pro:wght@300&display=swap');

/*body font*/
:root {
  --bs-body-font-family: 'Source Serif Pro', sans-serif;
}

/*navbar blog name font*/
#title {
  font-weight: 600;
  font-size: 36px;
  font-family: 'Indie Flower', sans-serif;
}

/*blog name font on hero image background*/
#s-title {
  font-weight: 500;
  font-size: 36px;
  font-family: 'Indie Flower', sans-serif;
}

/*tagline font on hero image background*/
#tagline {
  font-size: 24px;
  color: #6B2737;
}

/*tagline font for user page to welcome user*/
#s-tagline {
  font-size: 20px;
  color: #6B2737;
}

/*custom navbar styling*/
.navbar-color {
  --bs-navbar-color: rgba(228, 253, 225);
  --bs-navbar-hover-color: #fff;
  --bs-navbar-disabled-color: rgba(228, 253, 225, 0.25);
  --bs-navbar-active-color: #fff;
  --bs-navbar-brand-color: #fff;
  --bs-navbar-brand-hover-color: #fff;
  --bs-navbar-toggler-border-color: rgba(107, 39, 55, 0.1);
}

/*hero image styling*/
.image {
  background-color: #E4FDE1;
  background: linear-gradient(rgba(228, 253, 225, 0.6),
  rgba(228, 253, 225, 0.3)), url('https://res.cloudinary.com/dikgh3g5i/image/upload/v1685433066/static/images/hero_image.c6641504677c.jpg');
  background-position: center;
  background-size: cover;
  display: flex;
}

/*box over hero image for s-title and tagline*/
#cover-text {
  font-size: 130%;
  letter-spacing: 4px;
  width: 400px;
  height: 250px;
  background-color: rgba(14, 177, 210, .5);
  padding: 20px;
}

/*backgroud styling for about me*/
#card-background {
  background-color: rgba(244, 91, 105, .5);
}

/*custom styling for btns*/
.btn-colour {
  --bs-btn-color: #fff;
  --bs-btn-bg: #0EB1D2;
  --bs-btn-border-color: #0EB1D2;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #0EB1D2;
  --bs-btn-hover-border-color: #0EB1D2;
  --bs-btn-focus-shadow-rgb: 14, 177, 210;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #0EB1D2;
  --bs-btn-active-border-color: #0EB1D2;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.25);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #0EB1D2;
  --bs-btn-disabled-border-color: #0EB1D2;

}

/*styling likes*/
.heart {
  color: #ff0000;
}

/*styling for like btns*/
#no-border {
  border: none;
  background-color: white
}

/*styling for text*/
.text-color {
  color: #9046CF;
}

/*styling for post/recipe names*/
.text-decoration {
  color: #9046CF;
  font-weight: bolder;
}

/*custom styling for footer*/
.bg-dark {
  --bs-bg-opacity: 1;
  background-color: rgba(107, 39, 55, var(--bs-bg-opacity)) !important;
}

.btn {
  --bs-btn-color: #E4FDE1;
}