/*Google Font*/
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Source+Serif+Pro:wght@300&display=swap');

:root {
  --bs-body-font-family: 'Source Serif Pro', sans-serif;
}

#title {
  font-weight: 600;
  font-size: 36px;
  font-family: 'Indie Flower', sans-serif;
}

#s-title {
  font-weight: 500;
  font-size: 36px;
  font-family: 'Indie Flower', sans-serif;
}

#tagline {
  font-size: 24px;
  color: #6B2737;
}

#s-tagline {
  font-size: 20px;
  color: #6B2737;
}

.navbar-color {
  --bs-navbar-color: rgba(228, 253, 225);
  --bs-navbar-hover-color: #fff;
  --bs-navbar-disabled-color: rgba(228, 253, 225, 0.25);
  --bs-navbar-active-color: #fff;
  --bs-navbar-brand-color: #fff;
  --bs-navbar-brand-hover-color: #fff;
  --bs-navbar-toggler-border-color: rgba(107, 39, 55, 0.1);
}

.image {
  background-color: #E4FDE1;
  background: linear-gradient(rgba(228, 253, 225, 0.6),
  rgba(228, 253, 225, 0.3)), url('../images/hero_image.jpeg');
  background-position: center;
  background-size: cover;
  display: flex;
}

#cover-text {
  font-size: 130%;
  letter-spacing: 4px;
  width: 400px;
  height: 250px;
  background-color: rgba(14, 177, 210, .5);
  padding: 20px;
}

#card-background {
  background-color: rgba(244, 91, 105, .5);
}

.btn-colour {
  --bs-btn-color: #fff;
  --bs-btn-bg: #0EB1D2;
  --bs-btn-border-color: #0EB1D2;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #0EB1D2;
  --bs-btn-hover-border-color: #0EB1D2;
  --bs-btn-focus-shadow-rgb: 14, 177, 210;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #0EB1D2;
  --bs-btn-active-border-color: #0EB1D2;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.25);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #0EB1D2;
  --bs-btn-disabled-border-color: #0EB1D2;

}

.heart {
  color: #ff0000;
}

#no-border {
  border: none;
  background-color: white
}

.text-color {
  color: #9046CF;
}

.text-decoration-underline {
  text-decoration: underline !important;
  color: #9046CF;
  font-weight: bolder;
}

.bg-dark {
  --bs-bg-opacity: 1;
  background-color: rgba(107, 39, 55, var(--bs-bg-opacity)) !important;
}
