{% extends "base.html" %} {% block content %}
{% load crispy_forms_tags %}
<!-- Only allows users who are log in -->
{% if user.is_authenticated %}
<div class="container-fluid" id="">
    <div class="row justify-content-center">
        <div class="col-sm-10 mt-2">
            <h2 class="mt-3 text-center">Hello <span>{{ user }}</span></h2>
            <h4 class="mt-5 text-center">Please complete below form to share your recipe: </h4>
            <div class="">
                <form method="POST" enctype="multipart/form-data" class="p-2">
                    {% csrf_token %}
                    {{ form.media }}
                    {{ form|crispy }}
                    {{ RecipeForm|safe }}
                    <button type="submit" class="btn btn-success mt-2">Submit Recipe</button>
                </form>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endif %}
{% endblock %}