{% extends 'base.html' %} {% block content %}
{% load static %}
{% load crispy_forms_tags %}

<!-- Post title, author and image -->
<div>
    <div class="container">
        <div class="row">
            <div class="col-8 offset-2 mt-4 text-center">
                <h1 class="text-color">{{ post.title }}</h1>
                <p>{{ post.author }} | {{ post.created_on }}</p>
            </div>
            <div class="d-md-block col-8 offset-2 mt-4">
                {% if "placeholder" in post.featured_image.url %}
                <img class="card-img" src="{% static 'images/default_post_image.jpg' %}"
                alt="kneading dough with both hands on wooden table">
                {% else %}
                <img class="card-img" src="{{ post.featured_image.url }}"
                alt="post image relating to {{ post.title }}">
                {% endif %}
            </div>
        </div>
    </div>
</div>

<!-- Post content, likes and comments -->
<div class="container">
    <div class="row">
        <div class="col card mb-4 mt-4 top-50">
            <div class="card-body">
                {{ post.content | safe }}

                <div class="row">

                    <!-- Like icon & no. of likes -->                   
                    <div class="col-1">
                        <strong>
                            {% if user.is_authenticated %}
                            <form class="d-inline" action="{% url 'post_like' post.slug %}" method="POST">
                                {% csrf_token %}

                                {% if liked %}
                                <button id="no-border" type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like">
                                    <i class="fa-solid fa-heart heart"></i>
                                </button>
                                {% else %}
                                <button id="no-border" type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like">
                                    <i class="fa-regular fa-heart heart"></i>
                                </button>
                                {% endif %}
                            </form>

                            {% else %}
                            <span class="text-secondary">
                                <i class="fa-regular fa-heart heart"></i>
                            </span>
                            {% endif %}
                            <span class="text-secondary">{{ post.number_of_likes }}</span>
                        </strong>
                    </div>

                    <!-- Comment icon & no. of comments -->
                    <div class="col-1">
                        <strong>
                            <span class="text-secondary">
                                <i class="far fa-comments"></i>
                            </span>
                            <span class="text-secondary">{{ post_comments.count }}</span>
                        </strong>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    <!-- Return home button -->
    <div class="row">
        <div class="col">
            <a class="btn btn-colour" href="{% url 'home' %}">Return home</a>
            <hr>
        </div>
    </div>

    <!-- Comments -->
    <div class="row">
        <div class="col-md-8 card mb-4 mt-4">
            <div class="card-body">
                <h3 class="text-color">Comments:</h3>

                {% for post_comment in post_comments %}
                <div>
                    <p class="fw-semibold">
                        <span class="text-muted">
                            {{ post_comment.created_on }}
                        </span> |
                        Posted by {{ post_comment.name }} 
                    </p>
                    {{ post_comment.body | linebreaks }}
                </div>
                {% endfor %}

            </div>
        </div>

        <!-- Leaving a comment -->
        <div>
            <div class="card-body">
                {% if commented %}
                <div class="alert alert-success" role="alert">
                    Your comment is awaiting approval
                </div>

                {% else %}

                {% if user.is_authenticated %}
                <h3 class="text-color">Leave a comment: </h3>
                <p>Posting as: {{ user.username }}</p>

                <form method="post">
                    {{ post_comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-colour">Submit</button>
                    <hr>
                </form>
                
                {% else %}
                <p class="fw-semibold">Please <a class="text-color" href="{% url 'account_signup' %}">Sign up</a> or 
                    <a class="text-color" href="{% url 'account_login' %}">Login</a> to like or comment on a post.
                </p>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}