{% extends 'base.html' %} {% block content %}
{% load static %}
{% load crispy_forms_tags %}

<!-- Recipe title, author and image -->
<div>
    <div class="container">
        <div class="row">
            <div class="col-8 offset-2 mt-4 text-center">
                <h1 class="text-color">{{ recipe.recipe_name }}</h1>
                <p>{{ recipe.author }} | {{ recipe.created_on }}</p>
            </div>
            <div class="d-md-block col-8 offset-2 mt-4">
                {% if "placeholder" in recipe.featured_image.url %}
                <img class="card-img" src="{% static 'images/default_post_image.jpg' %}"
                alt="kneading dough with both hands on wooden table">
                {% else %}
                <img class="card-img" src=" {{ recipe.featured_image.url }}"
                alt="recipe image relating to {{ recipe.recipe_name }}">
                {% endif %}
            </div>
        </div>
    </div>
</div>

<!-- Recipe content, likes and comments -->
<div class="container">
    <div class="row">
        <div class="col card mb-4 mt-4 top-50">
            <div class="card-body">
                <strong>Serves:</strong>
                <p>{{ recipe.serves }}</p>
                <strong>Prep-time:</strong>
                <p>{{ recipe.prep_time }}</p>
                <strong>Baking-time:</strong>
                <p>{{ recipe.baking_time }}</p>
                <strong>Ingredients:</strong>
                {{ recipe.ingredients | safe }}
                <strong>Special equipment:</strong>
                <p>{{ recipe.special_equipment }}</p>
                <strong>Bakers tip!</strong>
                {{ recipe.bakers_tip | safe }}
                <strong>Method:</strong>
                {{ recipe.method | safe }}

                <div class="row">
                    <!-- Like icon & no. of likes -->   
                    <div class="col-1">
                        <strong>
                            {% if user.is_authenticated %}
                            <form class="d-inline" action="{% url 'recipe_like' recipe.slug %}" method="POST">
                                {% csrf_token %}

                                {% if liked %}
                                <button id="no-border" type="submit" name="blogpost_id" value="{{recipe.slug}}" class="btn-like">
                                    <i class="fa-solid fa-heart" id="heart"></i>
                                </button>
                                {% else %}
                                <button id="no-border" type="submit" name="blogpost_id" value="{{recipe.slug}}" class="btn-like">
                                    <i class="fa-regular fa-heart fa-beat heart"></i>
                                </button>
                                {% endif %}
                            </form>

                            {% else %}
                            <span class="text-secondary">
                                <i class="fa-regular fa-heart fa-beat heart"></i>
                            </span>
                            {% endif %}
                            <span class="text-secondary">{{ recipe.number_of_likes }} </span>
                        </strong>
                    </div>

                    <!-- Comment icon & no. of comments -->
                    <div class="col-1">
                        <strong>
                            <span class="text-secondary">
                                <i class="far fa-comments"></i>
                            </span>
                            <span class="text-secondary">
                            {{ recipe_comments.count }}
                            </span>
                        </strong>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Return to recipes button -->
    <div class="row">
        <div class="col">
            <a class="btn btn-colour" href="{% url 'recipes' %}">Return to Recipes</a>
            <hr>
        </div>
    </div>

    <!-- Delete recipe & edit recipe options for recipe author -->
    {% if request.user == recipe.author %} 
    <div class="text-center">
        <a href="{% url 'delete_recipe' recipe.slug %}" class="btn btn-colour w-25">Delete Recipe</a>
        <a href="{% url 'edit_recipe' recipe.slug %}" class="btn btn-colour w-25">Edit Recipe</a>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    {% endif %}

    <!-- Comments -->
    <div class="row">
        <div class="col-md-8 card mb-4 mt-4">
            <div class="card-body">
                <h3 class="text-color">Comments:</h3>
                {% for recipe_comment in recipe_comments %}
                <div>
                    <p class="fw-semibold">
                        <span class=" text-muted font-weight-normal">
                            {{ recipe_comment.created_on }}
                        </span> | 
                        Posted by {{ recipe_comment.name }}
                    </p>
                    {{ recipe_comment.body | linebreaks }}
                </div>
                {% endfor %}
            </div>
        </div>

        <!-- Leaving a comment -->
        <div>
            <div class="card-body">
                {% if commented %}
                <div class="alert alert-success" role="alert">
                    Your comment is awaiting approval
                </div>

                {% else %}

                {% if user.is_authenticated %}
                <h3 class="text-color">Leave a comment: </h3>
                <p>Posting as: {{ user.username }}</p>

                <form method="post">
                    {{ recipe_comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-colour">Submit</button>
                    <hr>
                </form>

                {% else %}

                <p class="fw-semibold">Please <a class="text-color" href="{% url 'account_signup' %}">Sign up</a> or 
                    <a class="text-color" href="{% url 'account_login' %}">Login</a> to like or comment on a post.
                </p>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}