{% extends "base.html" %} {% block content %}
<div class="container">
    <div class="row">
        <div class="col-8 offset-2 mt-3 text-center">
            <h2 class="text-color">Welcome back <span>{{user.username}}!</span></h2>
            <hr>
        </div>
    </div>
</div>

<div class="container text-center mt-4">
    <div>
        <p class="fw-semibold mb-0" id="tagline"> 
            Flour the surfaces, ready your rolling pin and 
            let your baking rise to every occaison!
        </p>
    </div>
    <div class="mt-4 mb-5">
        <a href="{% url 'add_recipe' %}" role="button" type="submit" class="btn btn-colour">
            Add New Recipe!
        </a>
    </div>
    <hr>
</div>
{% endblock %}